.home-title {
  margin: 20px;
  font-family: sans-serif;
  font-size: 24px;
}

.home-authenticate {
  margin: 10px;
  font-family: sans-serif;
  font-size: 16px;
}

.user-header {
  padding: 10px;
  font-family: sans-serif;
  background-color: lightgray;
  font-size: 18px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.flash-error {
  color: darkred;
  margin: 40px 0 20px 0;
  font-family: sans-serif;
  font-size: 16px;
}
