body {
  margin: auto;
  max-width: 500px;
}

h1 {
  font-size: 32px;
  font-family: "Open Sans", sans-serif;
  padding: 30px 0;
}

input[type="text"] {
  font-family: sans-serif;
  border: gray solid 1.5px;
  border-radius: 5px;
  padding: 8px 10px;
}

input[type="date"] {
  font-family: "Open Sans", sans-serif;
  padding: 6px 10px;
  margin: 0 10px;
  border: gray solid 1.5px;
  border-radius: 5px;
}

button {
  font-family: sans-serif;
  padding: 10px 40px;
  border: none;
  border-radius: 5px;
  background-color: rgb(70, 163, 70);
  color: white;
}

h3 {
  font-size: 24px;
  font-family: sans-serif;
  padding: 30px 10px 10px 10px;
}

h3 > span {
  font-size: 18px;
  font-weight: 300;
  color: gray;
}

label {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-left: 20px;
}

label > p {
  font-family: sans-serif;
  font-size: 18px;
}

/* label > p.crossed- */
/* body > section > ul > li > label > p.crossed-out */
label > form + p.crossed-out {
  text-decoration: line-through;
}

label > span {
  color: grey;
  font-size: 14px;
  margin-left: 20px;
}

label > span.overdue {
  color: red;
}

input[type="checkbox"] {
  height: 16px;
  width: 16px;
  margin-right: 20px;
}

i {
  float: right;
  cursor: pointer;
  visibility: hidden;
  margin-left: 80px;
}

li {
  padding: 10px;
}

li:hover {
  background-color: rgb(244, 244, 255);
}

li:hover i {
  visibility: visible;
}
